$primaryColor: #eb0f5b;
$primaryColor1: #1f2937;
$navColor: #374151;
$primaryColor2: #1e429f;
$sideBarWidth: 16rem;
$grayColor: #6b7280;

.chat {
  background: $navColor;
  border-radius: 15px;
  top: 5rem;
  height: calc(100vh - 6rem);
  @apply absolute flex lg:w-[calc(98%-16rem)] w-11/12 overflow-y-auto;
  @apply lg:left-60 left-0 justify-between mx-auto right-0;
}

.chats {
  background: $navColor;
  border-radius: 15px;
  top: 4.5rem;
  width: 95%;
  height: calc(99vh - 5rem);
  margin: 0 auto 12rem auto;
  overflow-x: auto;
  @apply flex justify-between absolute left-0 right-0;
}



.message {
  // width: 40%;
  padding: 0.5rem 1rem;
  @apply w-full grow-0 shrink-0 basis-11/12;
  @apply lg:basis-auto lg:w-2/5 md:basis-8/12;
}

.messageHeader h1 {
  margin-left: 0.5rem;
  @apply font-bold text-sm md:text-2xl;
}

.searchBar {
  margin-top: 0.8rem;
}

.searchBar > input {
  background: transparent;
  position: relative;
  padding: 0.5rem 0.8rem 0.5rem 2.7rem;
  border-radius: 9999px;
  width: 95%;
  @apply placeholder:text-sm border border-gray-500 focus:border-gray-300;
}

.searchBar > span {
  @apply absolute left-7 top-12 md:mt-4;
}

.chatGroup {
  @apply mt-3 w-full;
}

.chatList::-webkit-scrollbar {
  width: 8px;
}

.chatList::-webkit-scrollbar-thumb {
  @apply bg-gray-600 hover:bg-gray-400;
}

.chatList {
  @apply overflow-y-auto h-[calc(100vh-14rem)] lg:h-[100vh-12rem] md:h-[calc(100vh-15rem)];
}

.chatMain {
  @apply flex flex-row w-full py-3 cursor-pointer;
  border-bottom: 1.5px solid $grayColor;
}

.chatUser {
  @apply flex flex-row w-full items-center;
}

.chatUser div:first-child {
  width: 45px;
  height: 45px;
  //   background: #1e429f;
  border-radius: 9999px;
  margin-right: 0.5rem;
}

.chatGroupName {
  font-weight: bold;
  font-size: larger;
  @apply lit:text-xs lg:text-lg xl:text-xl;
}

.chatMsg {
  font-weight: lighter;
  font-size: small;
  color: #d1d5db;
  @apply lit:text-xs md:text-sm xl:text-base;
}

.chatTime > h2 {
  font-size: small;
  color: #9ca3af;
  @apply lit:text-[9px];
}

.chatTime div {
  padding: 1rem 1rem;
  margin-top: 0.4rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: #1e429f;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply p-0;
}

.chatTime div > h3 {
  font-size: smaller;
  @apply lit:text-[9px];
}

.chatDetails {
  // width: 60%;
  @apply flex flex-col justify-between;
  @apply border-gray-500 w-full grow-0 shrink-0 basis-auto;
  @apply lg:border-l-2 lg:basis-auto lg:w-3/5;
}

.onlineDot {
  height: 0.6rem;
  width: 0.6rem;
  background: rgb(34 197 94);
  border-radius: 50%;
  margin-right: 0.4rem;
}

.chatDetailsHeader {
  @apply flex justify-between px-4 py-4;
  @apply border-b-2 border-gray-500;
}

.chatDetailsHeader span:first-child {
  @apply flex flex-row;
}

.chatDetailsHeader span:first-child img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.chatDetailsFooter {
  @apply flex justify-center items-start pt-3 pb-0 border-t-2;
  @apply lit:pb-0 border-gray-500 relative h-auto;
}

.chatArea::-webkit-scrollbar {
  width: 8px;
}

.chatArea::-webkit-scrollbar-thumb {
  @apply bg-gray-600 hover:bg-gray-400;
}

.chatArea {
  width: 100%;
  height: auto;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sender {
  @apply w-1/2 flex flex-col;
}

.sender div {
  @apply mt-2;
}

.sender div > p {
  @apply text-sm text-gray-400 mt-1 pl-2;
}

.sender div > div {
  background: $primaryColor1;
  max-width: 100%;
  border-radius: 0 15px 15px 15px;
  @apply p-3;
}

.recipient {
  @apply w-1/2 flex flex-col items-end;
}

.recipient div {
  @apply mt-9 text-end;
}

.recipient div > p {
  @apply text-sm text-gray-400 mt-1 pr-2;
}

.recipient div > div {
  background: $primaryColor2;
  max-width: 100%;
  border-radius: 15px 0 15px 15px;
  @apply p-3;
}

.chatDetailsFooter input {
  background: transparent;
  position: relative;
  padding: 0.8rem 0.8rem 0.8rem 1.2rem;
  border-radius: 9999px;
  width: 95%;
  @apply placeholder:text-sm border border-gray-500 focus:border-gray-300;
  @apply lit:placeholder:text-[10px]
}

.attachmentBtn {
  @apply absolute text-gray-500 hover:text-gray-200;
  @apply cursor-pointer right-[7.5rem] top-[1.2rem];
  @apply right-[5rem] top-[1.2rem]
}

.chatSendBtn {
  right: 2rem;
  top: 1.2rem;
  background: #1e429f;
  padding: 0.4rem 1rem;
  border-radius: 9999px;
  @apply absolute lit:text-sm flex items-center flex-row lit:px-3 lit:py-2;
  @apply lit:right-3 lit:top-5;
}

@media (max-height: 414px) and (orientation: landscape) {
  .chat {
    @apply h-fit;
  }

  .chats {
    @apply h-fit;
  }

  .chatList {
    @apply h-fit;
  }

  .message {
    @apply h-fit
  }
}
