@import "tailwindcss/components";
@import "tailwindcss/base";
@import "tailwindcss/utilities";
$primaryColor:#b32e2e;
$primaryFont: Roboto;

html,
body {
  padding: 0;
  margin: 0;
  font-family: $primaryFont
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: $primaryColor;
  }
}
