$navColor: #374151;
$navColorHover1: #f5c321;
$navColorHover: #eb0f5b;

.nav {
  background: $navColor;
  @apply flex items-center flex-wrap z-[1030] px-2 py-1 shadow-lg;
  @apply fixed inset-x-0 top-0 md:landscape:px-7 md:px-5 lit:py-0;
}

.nav_div {
  @apply lg:inline-flex flex flex-col lg:flex-row lg:ml-auto lg:w-auto w-full;
  @apply lg:items-center items-start lg:h-auto px-2 overflow-y-auto;
  @apply md:landscape:px-7 md:px-5 md:text-2xl landscape:text-xl lg:mb-0 mb-2;
}

.dropdownBtn > div {
  // padding: 0 0.5rem 0 0.6rem;
  @apply inline-flex float-left lg:inline-flex lg:w-auto w-full rounded;
  @apply border-none outline-none text-white font-bold items-center;
}

.dropdownBtn > div:hover {
  color: $navColorHover;
}

.dropdown_content {
  display: block;
  position: absolute;
  color: #eaeaea;
  top: 3rem;
  padding: 0 0.5rem;
  text-align: start;
  background-color: $navColor;
  width: fit-content;
  box-shadow: 2px 8px 16px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.displayPic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #eaeaea;
  background: #cccccc;
}

.dropdown_content > li {
  padding: 0.2rem 0;
  @apply md:py-2;
}

.dropdown_content > li:hover {
  color: $navColorHover;
}

.nav_li {
  @apply lg:inline-flex lg:w-auto w-full px-3 py-2 rounded;
  @apply text-white font-bold items-center justify-center;
  @apply md:py-3 landscape:py-3 lg:text-lg;
}

.nav_li:hover {
  color: $navColorHover;
}

.active {
  color: $navColorHover;
}

.active > div {
  color: $navColorHover;
}

.mobileLink {
  @apply w-full lg:hidden lg:flex-grow lg:w-auto fixed shadow-lg;
  @apply top-16 md:top-[4.5rem] bg-gray-700 z-[1029] lit:top-12;
}

.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(31, 41, 55, 0.5),
      rgba(31, 41, 55, 1)
    ),
    url("../public/images/image4.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @apply h-screen p-0 m-0 w-full overflow-y-auto;
}

.heroContent {
  width: 70%;
  @apply landscape:w-screen ml-9 md:ml-10 inset-x-0 top-[30vh];
  @apply absolute landscape:top-[25vh] w-10/12 landscape:lit:w-[90%];
  @apply lit:top-[15vh] overflow-auto md:top-[25vh] lg:mx-auto;
  @apply lg:w-7/12 lg:text-center lg:flex lg:flex-col lg:items-center;
}

.heroContent > h1 {
  @apply text-4xl md:text-6xl font-bold text-[#eb0f5b];
  @apply lit:landscape:text-xs landscape:text-3xl;
  @apply landscape:lg:text-5xl;
}

.heroContent > p {
  @apply text-2xl md:text-5xl md:leading-tight landscape:text-3xl;
  @apply lit:landscape:text-[.5rem] landscape:lit:text-red-500;
  @apply landscape:text-2xl landscape:lg:text-4xl;
}

.heroContent div {
  @apply mt-5 flex flex-wrap lg:justify-center text-center;
}

// LOGIN AND SIGNUP BUTTON >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.heroContent a {
  border-radius: 25px;
  @apply py-2 px-6 text-lg;
  @apply md:text-3xl md:px-9 md:py-4 md:mr-9 lg:mr-0 md:mt-5;
  @apply landscape:text-lg landscape:px-5 landscape:py-1;
}

.heroContent a:first-child {
  color: $navColorHover;
  border: 2px solid $navColorHover;
  @apply mr-5 md:mr-9 lg:mr-0 landscape:mr-5;
}

.heroContent a:last-child {
  background: $navColorHover;
  color: #eaeaea;
  border: 2px solid $navColorHover;
}

.heroContent a:first-child:hover {
  background: $navColorHover;
  color: #eaeaea;
}

.heroContent a:last-child:hover {
  background: #eaeaea;
  color: $navColorHover;
}

// BLOGPOST >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.table {
  @apply flex p-5 flex-col space-x-0 space-y-3 landscape:flex-row;
  @apply landscape:space-x-3 landscape:space-y-0;
  @apply mx-auto h-fit;
}

.row {
  @apply flex-1;
}

.row:nth-child(2) {
  @apply flex-wrap space-y-3 ;
}

.row .rowspan2 {
  // flex: 1 1 100%;
  @apply grow shrink basis-full;
}

.cell {
  @apply relative;
}

.cell img {
  @apply w-full h-full object-cover align-middle rounded-xl;
}

.cell > div {
  @apply absolute top-0 left-0 w-full h-full bg-gray-900/70 rounded-lg;
}

.cell div > div::-webkit-scrollbar {
  width: 10px;
}

.cell > div::-webkit-scrollbar-thumb {
  @apply bg-gray-600 hover:bg-gray-700;
}

.cell div > div {
  @apply absolute bottom-0 leading-none md:leading-normal px-2 pb-2 landscape:px-2;
  @apply landscape:pb-2 md:px-5 md:pb-4 overflow-y-auto max-h-full;
}

// FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.footer {
  // border-top: 1px solid ;
  border-top: 1.5px solid;
  @apply py-3 px-0 mt-2 border-gray-600;
  @apply flex flex-col justify-center items-center text-center;
}

.socialMedia {
  @apply flex justify-center flex-wrap w-full mb-2 items-center;
}

.socialMedia a {
  margin: 0 0.5rem;
}

.socialMedia a:hover {
  color: $navColorHover;
}

@media (max-width: 912px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .dropdownBtn {
    display: block;
    float: none;
  }

  .dropdown_content {
    position: relative;
    display: flex;
    padding-left: 1.5rem;
    flex-direction: column;
    justify-content: start;
    color: #eaeaea;
    box-shadow: none;
    width: 100%;
    top: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .logo img {
    filter: invert(1);
  }
}
