.hero {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(31, 41, 55, 0.7),
      rgba(31, 41, 55, 1)
    ),
    url("../public/images/image4.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.loginContainer {
  margin: 0 auto;
  position: absolute;
  place-items: center;
  top: 100px;
  left: 0;
  right: 0;
  width: 90%;
  @apply justify-center items-center bg-white rounded-lg shadow lg:flex md:mt-0 lg:max-w-screen-sm xl:p-0 dark:bg-gray-800;
}

.h1 {
  @apply mb-3 text-2xl font-bold text-gray-900 lg:text-3xl dark:text-white text-center;
}

.label {
  @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
}

.loginInput {
  @apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.checkBox {
  @apply w-4 h-4 bg-gray-50 rounded border-gray-300 focus:ring-blue-300 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600;
}

.btnWrapper {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.passwordInput {
  position: relative;
  @apply mb-6;
}

.passwordInput button {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: .5rem;
  margin-right: .5rem;
}

.loginBtn {
  border-radius: 15px;
  @apply text-white font-medium text-base px-7 py-2 w-full sm:w-auto text-center mb-6 bg-blue-700;
}

.forgetPassword {
  @apply ml-auto text-sm text-blue-700 dark:text-blue-500 hover:underline;
}

@media (max-width: 912px) {
  .loginContainer {
    width: 80%;
  }
}
