$primaryColor: #eb0f5b;
$primaryColor1: #1f2937;
$navColor: #374151;
$primaryColor2: #1e429f;
$sideBarWidth: 16rem;
$grayColor: #6b7280;

.profile {
  border-radius: 15px;
  top: 5rem;
  @apply absolute left-0 right-0 lg:left-60 lg:w-[calc(98%-15rem)] px-5 lg:px-4;
  @apply md:flex-row md:justify-between overflow-y-auto flex flex-col;
}

.profiles {
  border-radius: 15px;
  top: 5rem;
  margin: 0 auto;
  width: 95%;
  overflow-y: auto;
  @apply flex flex-col absolute left-0 right-0;
  @apply md:flex-row md:justify-between;
}

.manageProfile {
  background: $navColor;
  border-radius: 15px;
  @apply w-full mb-4 px-2 py-2;
  @apply flex flex-col h-fit md:w-4/12 lg:w-1/5 md:mb-0 md:mr-3;
}

.manageProfile h1 {
  @apply ml-1 mt-1 font-bold text-center md:text-left;
}

.userPasswordBtn {
  @apply flex flex-row md:items-center text-left px-2 py-2 mt-2 rounded-lg hover:bg-blue-700;
}

.userPswBtn {
  background: $primaryColor2;
}

.manageProfile button span {
  @apply mr-2;
}

.userProfile::-webkit-scrollbar {
  width: 8px;
}

.userProfile::-webkit-scrollbar-thumb {  
  @apply bg-gray-600 hover:bg-gray-400;
}

.userProfile {
  max-height: calc(95vh - 5rem);
  background: $navColor;
  border-radius: 15px;
  @apply px-3 py-3 md:w-4/5 w-full overflow-y-auto md:overflow-y-hidden mb-4;
}

.userProfile h1 {
  @apply mt-1 font-bold text-center;
  @apply md:text-left;
}

.userProfile form::-webkit-scrollbar {
  width: 8px;
}

.userProfile form::-webkit-scrollbar-thumb {  
  @apply bg-gray-600 hover:bg-gray-400;
}

.userProfile form {
  max-height: 50vh;
  @apply px-3 md:overflow-y-auto;
}

.userImg {
  @apply mt-2 flex flex-col md:flex-row items-center text-center;
}

.userImg img {
  border-radius: 50%;
  @apply flex mr-3 md:w-36 w-24 md:h-36 h-24;
}

.userImg div > h1 {
  @apply font-bold md:text-3xl text-2xl;
}

.userImg div > h2 {
  @apply font-bold md:text-lg text-sm;
}

.inputStyle {
  @apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg;
  @apply focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700;
  @apply dark:border-gray-400 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500;
  @apply dark:focus:border-blue-500 read-only:bg-gray-600 read-only:text-gray-300;
  @apply read-only:dark:border-none;
}

.passwordInput {
  position: relative;
  @apply mb-4 w-full;
}

.passwordInput button {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.passwordInputCh {
  position: relative;
  @apply mb-4 w-full;
}

.passwordInputCh input[id="new"] {
  @apply md:mr-1 mr-0;
}

.passwordInputCh input[id="renew"] {
  @apply md:ml-1 ml-0;
}

.passwordInputCh label {
  @apply text-gray-400;
}

.passwordInputCh button {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 2rem;
  margin-right: 0.5rem;
}

.uploadAvatarBtn label {
  padding: 0.2rem;
  margin: 0;
  text-align: center;
  font-size: small;
  cursor: pointer;
}

.uploadAvatarBtn {
  border: 2px solid #1d4ed8;
  border-radius: 10px;
  padding: 0.2rem 0.3rem;
  text-align: center;
  @apply text-sm mx-1;
}

.uploadAvatarBtn input {
  display: none;
  margin: 0;
  padding: 0;
}

.fileUpload {
  border: 2px solid #166534;
  @apply bg-green-800;
}

.saveBtn {
  border-radius: 15px;
  background: $primaryColor2;
  @apply text-white font-medium text-base px-7 py-2;
  @apply w-full sm:w-auto text-center mb-2;
  @apply hover:bg-blue-700;
}

.select {
  [class$="-control"] {
    @apply text-white bg-gray-50 border border-gray-300 sm:text-sm rounded-lg;
    @apply focus:ring-blue-100 focus:border-gray-100 w-full p-0 dark:bg-gray-700;
    @apply dark:border-gray-600 dark:placeholder-gray-400 dark:text-white;
    @apply dark:focus:ring-gray-100 dark:focus:border-blue-100;
  }
}

.deleteAccount {
  // background: $primaryColor1;
  @apply mt-2 border border-gray-500 rounded-lg px-5 py-5 text-center md:text-left;
}
.deleteAccount h1 {
  @apply text-2xl text-red-600;
}

.deleteAccount button {
  @apply border border-red-600 px-3 py-1 mt-2 rounded-lg;
  @apply hover:bg-red-600 hover:text-white;
}
