$navColorHover: #eb0f5b;
$primaryColor: #1f2937;
$sideBarWidth: 15rem;

.hero {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #1f2937b3, #1f2937),
    url("../public/images/image4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// ADMIN STUDENT MODAL
.backDrop {
  background: rgba(11, 16, 24, 0.8);
  backdrop-filter: blur(3px);
  @apply fixed left-0 top-0 h-screen lg:w-[calc(100%-15rem)];
  @apply w-full lg:ml-[15rem] z-20;
}

.backDropUser {
  background: rgba(11, 16, 24, 0.8);
  backdrop-filter: blur(3px);
  @apply fixed left-0 top-0 h-screen lg:w-[calc(100%-15rem)];
  @apply w-full z-20;
}

.addStudent {
  border-radius: 15px;
  background: $primaryColor;
  @apply absolute md:fixed top-0 inset-x-0 mx-auto w-10/12 mt-20 landscape:mt-5 md:mt-40;
  @apply lg:mt-[15vh] md:w-10/12 lg:w-6/12 z-20 overflow-y-auto;
  @apply lg:ml-[calc((15rem+50%)*0.5)]
}

.addStudent div > form::-webkit-scrollbar {
  width: 8px;
}

.addStudent div > form::-webkit-scrollbar-thumb {  
  @apply bg-gray-600 hover:bg-gray-400;
}

.addStudent div > form {
  max-height: 60vh;
  padding: 0 0.5rem;
  @apply overflow-y-auto ;
}

.addEligible {
  background: $primaryColor;
  border-radius: 15px;
  @apply absolute inset-x-0 top-0 lg:w-[40%] w-11/12 md:w-9/12 z-20 overflow-y-auto lg:p-0;
  @apply lg:ml-[calc(15rem+19%)] mt-[15vh] mx-auto p-3 max-h-[80vh] lg:max-h-[70vh];
  @apply xl:ml-[calc(15rem+21%)];
}

.addEligibleUser {
  background: $primaryColor;
  border-radius: 15px;
  @apply absolute inset-x-0 top-0 lg:w-[40%] w-11/12 md:w-9/12 z-20 overflow-y-auto lg:p-0;
  @apply mt-[15vh] mx-auto p-3 max-h-[80vh] lg:max-h-[70vh];
}

.addStudent::-webkit-scrollbar {
  width: 6px;
}

.addStudent::-webkit-scrollbar-thumb {  
  @apply bg-gray-600 hover:bg-gray-400;
}

.addStudent h1 {
  @apply font-bold text-center ml-0 md:ml-9 mt-1 md:mt-[-1.6rem] lit:mt-[-2.1rem] mb-2;
  @apply md:mt-[-1.8rem] text-lg md:text-xl lg:text-2xl py-2 md:py-0;
  @apply lit:ml-5;
}

.signupBtnSt {
  border-radius: 15px;
  @apply text-white font-medium text-base px-7 py-2 mx-1;
  @apply w-full sm:w-auto text-center bg-blue-700 hover:bg-blue-800;
}

.blogTitle {
  @apply border-b-2 border-gray-500;
}

.passportSt {
  @apply flex flex-row justify-center w-full md:mr-2 md:w-[100%]
}

.passportSt img {
  border-radius: 15px;
  @apply md:w-24 md:h-24 w-[90px] h-[80px] p-0;
}

.infoSectionMain::-webkit-scrollbar {
  width: 8px;
}

.infoSectionMain::-webkit-scrollbar-thumb {  
  @apply bg-gray-600 hover:bg-gray-400;
}

.infoSectionMain {
  @apply flex flex-row flex-wrap w-full mt-2 p-2 max-h-[50vh] overflow-auto;
}

.infoSection {
  // max-height: 40vh;
  @apply w-full md:w-[100%];
}

.infoSection div {
  @apply flex flex-col md:flex-row justify-between border-b-2 border-gray-500 w-full py-1;
}

.infoSectionBlog::-webkit-scrollbar {
  width: 8px;
}

.infoSectionBlog::-webkit-scrollbar-thumb {  
  @apply bg-gray-600 hover:bg-gray-400;
}

.infoSectionBlog {
  width: 80%;
  max-height: 40vh;
  overflow-y: auto;
}

.infoSectionBlog div {
  @apply flex flex-row justify-between w-full py-1;
}

.signupContainer {
  margin: 0 auto;
  position: absolute;
  place-items: center;
  top: 90px;
  left: 0;
  right: 0;
  width: 90%;
  padding: 0;
  @apply bg-white rounded-lg shadow lg:flex lg:max-w-screen-sm xl:p-0 dark:bg-gray-800;
}

.signupContainer::after {
  position: absolute;
  content: "";
  bottom: -10%;
  height: 5%;
  width: 1px;
}

.signup {
  margin: 0 auto;
  position: absolute;
  place-items: center;
  top: 100px;
  left: 0;
  right: 0;
  width: 60%;
  padding: 0;
  @apply bg-white rounded-lg shadow lg:flex md:mt-0 lg:max-w-screen-sm xl:p-0 dark:bg-gray-800;
}

.h1 {
  @apply mb-1 text-2xl font-bold text-gray-900 lg:text-3xl dark:text-white text-center;
}

.label {
  @apply block mb-1 text-sm font-medium text-gray-900 dark:text-white;
}

.signupInput {
  @apply bg-gray-50 border border-gray-300 outline-gray-300 text-gray-900;
  @apply block w-full p-2.5 dark:bg-gray-700 placeholder-gray-400 rounded-lg;
  @apply dark:border-gray-600 dark:outline-gray-600 dark:text-white sm:text-sm;
}

.signupInput:focus {
  border: 1px solid #5395ff;
  outline: 1px solid #5395ff;
}

.phoneInput {
  @apply dark:bg-gray-700 text-gray-900 sm:text-sm rounded-lg pl-2;
  @apply dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500;
}

.checkBox {
  @apply w-4 h-4 bg-gray-50 rounded border-gray-300 focus:ring-blue-300 dark:focus:ring-blue-600;
  @apply dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600;
}

.btnWrapper {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.fullName {
  @apply grid gap-4 w-full justify-between mb-4 space-y-6 md:flex-row md:space-y-0;
}

.names {
  @apply space-x-2;
  display: flex;
  width: 100%;
  flex-direction: row;
}

.fullName div:first-child {
  grid-column: 1;
  grid-row: 1;
}

.fullName div:nth-child(2) {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.fullName div:last-child {
  grid-column: 1 / span 1;
  grid-row: 2;
}

.select {
  [class$="-control"] {
    @apply text-white bg-gray-50 border border-gray-300 sm:text-sm rounded-lg;
    @apply focus:ring-gray-100 focus:border-gray-100 w-full p-0 dark:bg-gray-700 outline-none;
    @apply dark:border-gray-600 placeholder-gray-400 text-white focus:ring-gray-100 focus:border-gray-500;
  }
}

.passwordInput {
  position: relative;
  @apply mb-4;
}

.passwordInput button {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.signupBtn {
  @apply text-white font-medium text-base px-7 py-2 w-full;
  @apply sm:w-auto text-center mb-2 bg-blue-800;
  @apply hover:bg-blue-700 rounded-3xl;
}

.forgetPassword {
  @apply ml-auto text-sm text-blue-700 dark:text-blue-500 hover:underline;
}

.uploadAvatarBtn label {
  @apply p-1 m-0 text-center text-sm cursor-pointer;
}

.uploadAvatarBtn {
  border: 2px solid #1d4ed8;
  border-radius: 10px;
  padding: 0.2rem 0.1rem;
  @apply m-0 text-center hover:bg-blue-700;
}

.uploadAvatarBtn input {
  display: none;
  margin: 0;
  padding: 0;
}

.fileUpload {
  border: 2px solid #166534;
  @apply bg-green-800 hover:bg-green-900;
  @apply hover:border-green-900;
}

.passport {
  @apply flex flex-row ml-2 mb-4 justify-center p-0;
  @apply md:justify-end;

}

.passport img {
  width: 110px;
  height: 100px;
  border: 2px solid #1d4ed8;
  border-radius: 15px;
  padding: 0;
}

.thumbnail {
  width: 80%;
  padding: 0;
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: center;
}

.thumbnail img {
  width: 150px;
  height: 100px;
  border: 2px solid #1d4ed8;
  border-radius: 15px;
  padding: 0;
}

.types {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.types div {
  padding: 1rem 2rem;
  margin: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  align-items: center;
  border: 1px solid #eaeaea;
}

.types div:hover {
  color: $navColorHover;
  border-color: $navColorHover;
}

.terms {
  @apply ml-1 text-blue-700 dark:text-blue-500 hover:underline;
}

.actionBtn {
  @apply ml-1 text-blue-700 hover:underline dark:text-blue-500;
}

@media (max-width: 912px) {
  .signupContainer {
    width: 90%;
  }

  .signup {
    width: 80%;
  }

  .types div {
    padding: 1rem 2rem;
    margin: 0.5rem;
  }

  .passwordInput button {
    margin-top: 0.6rem;
  }
}
