$navColorHover: #eb0f5b;
$primaryColor: #1f2937;

.hero {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      #1f2937b3,
      #1f2937
    ),
    url("../public/images/image4.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

.signupContainer {
  margin: 0 auto;
  position: absolute;
  place-items: center;
  top: 100px;
  left: 0;
  right: 0;
  width: 90%;
  padding: 0;
  @apply justify-center items-center rounded-lg shadow lg:flex md:mt-0 lg:max-w-screen-sm xl:p-0 bg-gray-800;
}

.spacer {
  height: 50rem;
  margin: 0 0 -50px 0;
  background: transparent;
}

.signup {
  margin: 0 auto;
  position: absolute;
  place-items: center;
  top: 100px;
  left: 0;
  right: 0;
  width: 60%;
  padding: 0;
  @apply justify-center items-center rounded-lg shadow lg:flex md:mt-0 lg:max-w-screen-sm xl:p-0 bg-gray-800;
}

.h1 {
  @apply mb-1 text-2xl font-bold lg:text-3xl text-white text-center;
}

.label {
  @apply block mb-1 text-sm font-medium text-white;
}

.signupInput {
  @apply bg-gray-700 border border-gray-600 sm:text-sm rounded-lg;
  @apply focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
  @apply placeholder-gray-400 text-white focus:border-blue-500;
}

.checkBox {
  @apply w-4 h-4 bg-gray-700 rounded border-gray-600;
  @apply ring-offset-gray-800 focus:ring-blue-600;
}

.btnWrapper {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.fullName {
  @apply grid gap-4 w-full justify-between mb-4 space-y-6 md:flex-row md:space-y-0;
}

.names {
  @apply space-x-2;
  display: flex;
  width: 100%;
  flex-direction: row;
}

.fullName div:first-child {
  grid-column: 1;
  grid-row: 1;
}

.fullName div:nth-child(2) {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.fullName div:last-child {
  grid-column: 1 / span 1;
  grid-row: 2;
}

.select {
  // outline: 1px solid red;
  [class$="-control"] {
    @apply bg-gray-700 border border-gray-600 sm:text-sm rounded-lg;
    @apply focus:ring-blue-500 focus:border-blue-500 w-full p-0;
    @apply placeholder-gray-400 text-white;
  }
}

.passwordInput {
  position: relative;
  @apply mb-4;
}

.passwordInput button {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.signupBtn {
  border-radius: 15px;
  @apply text-white font-medium text-base px-7 py-2 w-full sm:w-auto text-center mb-6 bg-blue-700;
}

.forgetPassword {
  @apply ml-auto text-sm text-blue-500 hover:underline;
}

.uploadAvatarBtn label {
  padding: 0.5rem;
  text-align: center;
  font-size: small;
  cursor: pointer;
}

.uploadAvatarBtn {
  border: 2px solid #1d4ed8;
  border-radius: 10px;
  padding: 0.2rem 0.1rem;
  margin: 0;
}

.uploadAvatarBtn input {
  display: none;
}

.fileUpload {
  background: #3eff8e;
  border: 2px solid #3eff8e;
}

.passport {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 80%;
}

.passport img {
  width: 100px;
  border: 2px solid #1d4ed8;
  border-radius: 15px;
}

.types {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.types div {
  padding: 1rem 2rem;
  margin: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  align-items: center;
  border: 1px solid #eaeaea;
}

.types div:hover {
  color: $navColorHover;
  border-color: $navColorHover;
}

@media (max-width: 912px) {
  .signupContainer {
    width: 90%;
  }

  .signup {
    width: 80%;
  }

  .types div {
    padding: 1rem 2rem;
    margin: 0.5rem;
  }

  .passwordInput button {
    margin-top: 0.6rem;
  }
}
